header {
    background-color: rgb(226, 226, 226);
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

main {
    margin-right: 230px;
    margin-left: 30px;
}


.logo {
    width: 200px;
    right: 0;

}


.current {
    background-color: #e40038;
    color: #ffffff;
    border-radius: 27px;
    padding: 5px;


}

a {
    color: black;
    text-decoration: none;
    position: relative;
   
}
 a:hover {
    background-color: rgb(194, 194, 194);
    color: #e40038;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    padding: 2px;
   
}

dt {
     text-align: center;
}

footer {
    background:rgb(226, 226, 226);
    color:dimgrey; 
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
body {
    margin-bottom: 40px;
}